@import "./assets/styles/page.css";
@import "./assets/styles/header.css";
@import "./assets/styles/chart.css";
@import "./assets/styles/bar.css";

:root {
    --color-soft-red: hsl(10, 79%, 65%);
    --color-cyan: hsl(186, 34%, 60%);
    --color-soft-red-hover: rgba(236, 119, 95, 0.6);
    --color-cyan-hover: rgba(118, 181, 188, 0.6);
    --color-dark-brown: hsl(25, 47%, 15%);
    --color-medium-brown: hsl(28, 10%, 53%);
    --color-cream: hsl(27, 66%, 92%);
    --color-very-pale-orange: hsl(33, 100%, 98%);

    --font-fallback: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --font: 'DM Sans', var(--font-fallback);
}

html {
    font-size: 10px;
}
