.chart {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 2.4rem 2rem;
    background-color: var(--color-very-pale-orange);
    border-radius: 1rem;
}

.chart__title {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-dark-brown);
    margin-top: 0;
    margin-bottom: 4.8rem;
}

.chart__bars {
    display: grid;
    gap: 1.2rem;
    width: 100%;
    height: 17.4rem;
}

.chart__divider {
    box-sizing: border-box;
    width: 100%;
    height: 0.2rem;
    background-color: var(--color-cream);
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.chart__row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart__row-section {
    box-sizing: border-box;
    flex: 0 0 auto;
}

.chart__row-section--top {
    align-self: flex-start;
}

.chart__row-section--bottom {
    align-self: flex-end;
}

.chart__total {
    line-height: 1;
    font-family: var(--font);
    margin-top: 0;
}

.chart__total--title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-medium-brown);
    letter-spacing: 0.01rem;
    margin-bottom: 0.8rem;
}

.chart__total--amount {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-dark-brown);
    margin-bottom: 0;
}

.chart__update {
    line-height: 1;
    font-family: var(--font);
    font-size: 1.5rem;
    margin-top: 0;
}

.chart__update--percent {
    font-weight: 700;
    color: var(--color-dark-brown);
    margin-bottom: 0.4rem;
    text-align: right;
}

.chart__update--description {
    font-weight: 400;
    color: var(--color-medium-brown);
    letter-spacing: 0.01rem;
    margin-bottom: 0;
}

@media screen and (min-width: 572px) {
    .chart {
        padding: 3.2rem 4rem 4rem 4rem;
        border-radius: 2rem;
    }

    .chart__bars {
        gap: 1.8rem;
    }

    .chart__divider {
        margin-top: 3.2rem;
        margin-bottom: 3.2rem;
    }

    .chart__title {
        font-size: 3.2rem;
        margin-bottom: 6.4rem;
    }

    .chart__total--title {
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
    }

    .chart__total--amount {
        font-size: 4.8rem;
    }

    .chart__update {
        font-size: 1.8rem;
    }

    .chart__update--percent {
        margin-bottom: 0.8rem;
    }
}